@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-default: #f1f2fc;
  --bg-default: #010619;
}

body {
  color: var(--text-default);
  background-color: var(--bg-default);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
